*{
    margin: 0;
}
html,body{
    height: 100%;
}
body {
    background:  url('../images/bg.png') repeat;
font-family: Georgia, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    margin: 20px 120px;
}
h1{
    font-size: 25px;
}
h2{
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}
header h1{
    float: left;
    margin: 15px 0px;
}
h1 span{
    font-size: 12px;
}
header nav{
    margin-left: 100px;
    float: left;
}
header nav ul{
    list-style-type: none;
    margin-top: 20px;
}
header nav ul li{
    display: block;
    float: left;
    height: 50px;
    margin-left: 15px;
    text-align: center;
}
header nav ul li:hover{
    background: lightblue;
    border-radius: 10px;
}
header nav ul li a{
    text-decoration: none;
    display: block;
    width: inherit;
    padding: 15px;
}
#content{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 10px 120px;
    border: 1px solid darkgray;
    overflow: hidden;
    padding: 20px;
}
#left {
    float: left;
}
#left ul{
    list-style-type: none;
    margin: 0px;
    width: 280px;

}
#left ul li{
    display: block;
    height: 30px;
    background: white;
    margin-bottom: 15px;
    padding-bottom:10px;
}
#left ul li a{
    text-decoration: none;
    display: block;
    width: inherit;
    padding: 10px;
    text-align: left;
}
#left ul li:hover{
    background: lightgray;
    border-radius: 10px;
}
#right{
    width: 600px;
    float: left;
    border-left: 2px solid grey;
    margin-left: 20px;
    padding-left: 30px;
}
.active{
    background-color: lightgray;
}
.footer{
    height: 2em;
    margin: 10px 120px;
    background: darkgray;
    text-align: center;
    padding-top:10px;
}
#error {
    color: red;
    border: 1px solid red;
    padding: 5px;
    display: none;
}
#error2 {
    color: red;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
 }
#result {
    padding: 20px;
}
.account-left{
    float: left;
    width: 400px;
    padding: 50px;
    border: 1px solid black;
    margin-left: 35px;
}
.account-right{
    width: 400px;
    float: left;
    padding: 50px;
    border: 1px solid black;
}
.item{
background: white;
    width: 600px;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}
.item > h3{
padding-bottom: 5px;
}
.item > p{
    font-size: 15px;
}

.item > p > span{
    font-size: 12px;
    padding: 15px 0px 0px 0px;
}
.item >span{
    position: absolute;
    top:0;
    right: 0;
    padding: 10px;
}